{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<div class="ui grid container">
  <div class="row">
    <h1 class="ui header">使っているもの</h1>
  </div>
  <div class="row">
    <div class="ui list">
      <a class="item" href="https://www.djangoproject.com">Django</a>
      <a class="item" href="https://semantic-ui.com/">Semantic UI</a>
      <a class="item" href="https://btcpayserver.org/">BTCPayServer</a>
      <a class="item" href="https://www.docker.com">Docker</a>
      <a class="item" href="https://www.pythonanywhere.com/">pythonanywhere</a>
    </div>
  </div>
</div>
{% endblock %}
