{% extends 'item/base.html' %}
{% load static %}

{% block content %}
  <div class="ui stackable four column container grid">
    {% for item in items %}
      <div class="column">
        <h1>{{ item.name }}</h1>
        <div class="ui segment">
          <img class="ui tiny rounded image centered" src="{{ item.image_path.url }}" alt="ramune">
        </div>
        <form method="POST" action="https://mainnet.demo.btcpayserver.org/apps/2npcUYfenT45hFPpXwMdpSxPDiEw/pos">
          <button class="fluid ui button" type="submit" name="choiceKey" value={{ item.btcpay_item_name }}>¥{{ item.price }}円で買う</button>
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
