{% extends 'item/base.html' %}
{% load static %}

{% block content %}
<div class="ui stackable four column container grid">
  <div class="column">
    <h1>ラムネ</h1>
    <div class="ui segment">
      <img class="ui tiny rounded image centered" src="{% static "item/ramune.jpg" %}" alt="ramune">
    </div>
    <form method="POST" action="https://mainnet.demo.btcpayserver.org/apps/2npcUYfenT45hFPpXwMdpSxPDiEw/pos">
      <button class="fluid ui button" type="submit" name="choiceKey" value="ramune">¥60円で買う</button>
    </form>
  </div>
  <div class="column">
    <h1>カロリーメイト</h1>
    <div class="ui segment">
      <img class="ui tiny rounded image centered" src="{% static "item/calorie_mate.jpg" %}" alt="ramune">
    </div>
    <form method="POST" action="https://mainnet.demo.btcpayserver.org/apps/2npcUYfenT45hFPpXwMdpSxPDiEw/pos">
      <button class="fluid ui button" type="submit" name="choiceKey" value="カロリーメイト">¥160円で買う</button>
    </form>
  </div>
{% endblock %}
